{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h1 class="cover-heading text-center">{{ this.title }}</h1>
  <h1 class="cover-heading text-center">Near-term quantum computers</h1>
        <h3> Challenges, optimal implementations and applications</h3>
      <br>

        <p class="lead text-justify">
        	The project aims at characterizing the computational power and investigating possible practical applications of quantum computing devices consisting of a limited number of imperfect qubits. To realize the goals we have formed a network of closely collaborating research groups working on cutting-edge aspects of quantum computing. The consortium has been established by the top Polish institutions working in the field of quantum information science: Center for Theoretical Physics of the Polish Academy of Sciences (CTP PAS), Faculty of Physics, Astronomy and Applied Computer Science of Jagiellonian University (FPAACS JU), and Institute of Theoretical and Applied Informatics of the Polish Academy of Sciences (ITAI PAS). It runs four research groups:
        	<ul class="lead text-left">
        		<li>Quantum Computing Group,</li>
        		<li>Quantum Machine Learning Group,</li>
        		<li>Quantum Error Correction Group,</li>
        		<li>Quantum Resources Group.</li>
        	</ul>
		</p>
		<p class="lead text-justify">        	
        	Marek Kuś from the Center for Theoretical Physics of the Polish Academy of Sciences is the leader of the entire project, while the part of the consortium established at the Jagiellonian University is supervised by Karol Życzkowski.        
        </p>
{% endblock %}
