{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h3 class="text-left">Quantum Error Correction Group</h3>
    <h5 class="text-left">Leader: Felix Huber</h5>
    <h5 class="text-left">Members</h5>
    <p class="text-justify">
      <ul class="text-justify">
        <li>dr Felix Huber (group leader)</li>
        <li>dr Vinayak Jagadish (postdoc)</li>
        <li>dr Simon Burton (postdoc)</li>
        <li>Albert Rico (PhD student)</li>
        <li>Gerard Munné (PhD student)</li>
        <li>Moisés Bermejo Morán (PhD student)</li>
      </ul>
    </p>
    <br>
    <p class="text-justify">
      The research of this group chiefly focus on the interplay between
      quantum error correction with entanglement, many-body systems,
      mathematical physics, and non-commutative algebra.

      We develop experimentally feasible implementations of quantum codes in
      higher spin systems and investigate the nonlocal properties of quantum
      codes. Furthermore, we study new way to detect entanglement by
      developing non-linear and dimension-free entanglement witnesses. In
      mathematical physics and non-commutative optimization, we work on
      tensor polynomial identities as well as on the use of semidefinite
      programming hierarchies for problems like the spectral quantum marginal
      problem.
      <br>
      <a href="{{ '/static/downloads/agenda/huber.pdf' | asseturl }}">Extended research agenda</a>
    </p>
    <br>
    <p class="text-justify">
    </p>

{% endblock %}
