{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h3 class="text-left">Quantum Resources Group</h3>
    <h5 class="text-left">Leader: Kamil Korzekwa</h5>
    <h5 class="text-left">Members</h5>
    <p class="text-justify">
      <ul class="text-justify">
        <li>dr Kamil Korzekwa (group leader)</li>
        <li>Oliver Reardon-Smith (postdoc)</li>
        <li>Roberto Salazar (postdoc)</li>
        <li>Alexssandre de Oliveira Junior (PhD student)</li>
        <li>Piotr Przedwojski (BSc student)</li>
      </ul>
    </p>
    <br>
    <p class="text-justify">The broad aim of the group is to develop a
      theoretical framework underpinning quantum technologies, with a particular
      focus on quantum computing and quantum thermodynamics.</p>
  
<p class="text-justify">The main goals of the group are:</p>
<ul class="text-justify">
      <li> Identifying resources responsible for quantum advantage over classical strategies in various information-theoretic and thermodynamic tasks. </li>
  <li> Characterising allowed resource transformations in different regimes.</li>
  <li> Finding optimal ways to experimentally implement protocols exhibiting quantum advantage, while taking into account realistic constraints.</li>
</ul>
<p class="text-justify">These goals will be achieved within three research objectives:</p>
<ol class="text-justify">
  <li>Development of a unified framework for classical simulations of quantum circuits. </li>
  <li>Devising feasible thermodynamic protocols exhibiting quantum advantage.</li>
  <li>Constructing operational scenarios within the resource theory of coherence.</li>
</ol>
<p class="text-justify">The detailed research agenda, with the description of specific research directions that the group will pursue, is available
  <a class="intext_link" href="{{ '/static/docs/resources_agenda.pdf'|asseturl }}" target="_blank">here</a>.</p>
      <br>
      <a href="{{ '/static/downloads/agenda/korzekwa.pdf' | asseturl }}">Extended research agenda</a>
    </p>
    <br>
    <p class="text-justify">
      Team website available <a href="https://www.quantum-resources.com/">here</a>.
    </p>

{% endblock %}
