{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h1 class="cover-heading text-center">Research groups</h1>
    <br>
    <a href="{{ '/t1'|url }}"><h3 class="text-left">Quantum Computing Group</h3></a>
    <h5 class="text-left">Center for Theoretical Physics of the Polish Academy of Sciences</h5>
    <h5 class="text-left">Leader: Michał Oszmaniec</h5>
    <br>
    <p class="text-justify">
      Team website available at <a href="https://quantin.pl">quantin.pl</a>.
    </p>
    <hr>

    <h3 class="text-left">Quantum Machine Learning Group</h3>
    <h5 class="text-left">Institute of Theoretical and Applied Informatics of the Polish Academy of Sciences</h5>
    <h5 class="text-left">Leader: Zbigniew Puchała</h5>
    <br>
    <p class="text-justify">
      In preparation.
    </p>
    <hr>

    <h3 class="text-left">Quantum Error Correction Group</h3>
    <h5 class="text-left">Jagiellonian University</h5>
    <h5 class="text-left">Leader: ???</h5>
    <br>

    <p class="text-justify">
      The detailed research agenda, with the description of specific research directions that the group will pursue, is available
      <a class="intext_link" href="{{ '/static/docs/aurell_agenda.pdf'|asseturl }}">here</a>.
    </p>
    <hr>
    <h3 class="text-left">Quantum Resources Group</h3>
    <h5 class="text-left">Jagiellonian University</h5>
    <h5 class="text-left">Leader: Kamil Korzekwa</h5>

      <p class="text-justify">The broad aim of the group is to develop a theoretical framework underpinning quantum technologies, with a particular focus on quantum computing and quantum thermodynamics.</p>
  
<p class="text-justify">The main goals of the group are:</p>
<ul class="text-justify">
      <li> Identifying resources responsible for quantum advantage over classical strategies in various information-theoretic and thermodynamic tasks. </li>
  <li> Characterising allowed resource transformations in different regimes.</li>
  <li> Finding optimal ways to experimentally implement protocols exhibiting quantum advantage, while taking into account realistic constraints.</li>
</ul>
<p class="text-justify">These goals will be achieved within three research objectives:</p>
<ol class="text-justify">
  <li>Development of a unified framework for classical simulations of quantum circuits. </li>
  <li>Devising feasible thermodynamic protocols exhibiting quantum advantage.</li>
  <li>Constructing operational scenarios within the resource theory of coherence.</li>
</ol>
<p class="text-justify">The detailed research agenda, with the description of specific research directions that the group will pursue, is available
  <a class="intext_link" href="{{ '/static/docs/resources_agenda.pdf'|asseturl }}" target="_blank">here</a>.</p>
    <hr>  	

  
{% endblock %}
